<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
    let a = [{ label: '工单编号', key: 'gdbh', type: 'input', value: '', popup: true },
  { label: '纳税人识别号', key: 'nsrsbh', type: 'input', value: '', popup: true },
  { label: '纳税人名称', key: 'nsrmc', type: 'input', value: '', popup: true },
  { label: '工单标题', key: 'gdbt', type: 'input', value: '', popup: true },
  { label: '创建日期起', key: 'cjrqq', type: 'range-datepicker', value: '', popup: true },
  { label: '创建日期止', key: 'cjrqz', type: 'range-datepicker', value: '', popup: true }];
</script>
</html>